<div class="d-flex flex-column">
    <div class="align-self-center" style="width: 80%;">
        <form method="POST">
            <div class="form-group mb-2 mt-3">
                <label for="navn">Navn</label>
                <input type="text" class="form-control" id="navn" name="navn" placeholder="Navn">
            </div>
            <div class="form-group mb-2">
                <label for="hjemhavn">Hjemhavn</label>
                <input type="text" class="form-control" id="hjemhavn" name="hjemhavn" placeholder="Hjemhavn">
            </div>
            <div class="form-group mb-2">
                <label for="kaldesignal">Kaldesignal</label>
                <input type="text" class="form-control" id="kaldesignal" name="kaldesignal" placeholder="Kaldesignal">
            </div>
            <div class="form-group mb-2">
                <label for="MMSInummer">MMSInummer</label>
                <input type="text" class="form-control" id="MMSInummer" name="MMSInummer" placeholder="MMSInummer">
            </div>
            <div class="form-group mb-2">
                <label for="anvendelse">Anvendelse</label>
                <input type="text" class="form-control" id="anvendelse" name="anvendelse" placeholder="Anvendelse">
            </div>
            <div class="form-group mb-2">
                <label for="BRT_BT">BRT/BT</label>
                <input type="text" class="form-control" id="BRT_BT" name="BRT_BT" placeholder="BRT/BT">
            </div>
            <div class="form-group mb-2">
                <label for="laengde">Længde</label>
                <input type="text" class="form-control" id="laengde" name="laengde" placeholder="Længde">
            </div>
            <div class="form-group mb-2">
                <label for="makspersoner">Maks personer</label>
                <input type="text" class="form-control" id="makspersoner" name="makspersoner"
                    placeholder="Maks personer">
            </div>

            <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form>
    </div>
    <h1 class="align-self-center mt-2">Skibe</h1>
    <div class="align-self-center" style="width: 80%;" onload="getData()">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Navn</th>
                    <th scope="col">Hjemhavn</th>
                    <th scope="col">Kaldesignal</th>
                    <th scope="col">MMSInummer</th>
                    <th scope="col">Anvendelse</th>
                    <th scope="col">BRT_BT</th>
                    <th scope="col">Længde</th>
                    <th scope="col">MaksPersoner</th>
                </tr>
            </thead>
            {{#each ship}}
            <tbody>
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{navn}}</td>
                    <td>{{hjemhavn}}</td>
                    <td>{{kaldesignal}}</td>
                    <td>{{MMSInummer}}</td>
                    <td>{{Anvendelse}}</td>
                    <td>{{BRT_BT}}</td>
                    <td>{{Laengde}}</td>
                    <td>{{MaksPersoner}}</td>
                    <td><form method="GET" action="ships/delete/{{_id}}">
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</div>